{% extends "inventory/base.html" %}
{% load sort_tags %}

{% block content %}
<div class="page">

    {% include "components/layout/page_header.html" with subtitle="Master Data / Discounts" title="Discounts" %}

    <div class="top-actions">

        <form method="get" class="toolbar">

            <input
                type="text"
                name="q"
                value="{{ q }}"
                placeholder="Search discounts..."
            >

            <button type="submit">
                Search
            </button>

            {% if q %}
                <a href="{% url 'discount_list' %}">
                    <button type="button">Clear</button>
                </a>
            {% endif %}

        </form>

        {% if request.user.profile.role.name == "admin" or request.user.profile.role.name == "manager" %}
            <a href="{% url 'discount_add' %}">
                <button type="button" class="btn-dark">
                    + Add Discount
                </button>
            </a>
        {% endif %}

    </div>

    <div class="erp-panel">

        <h2>Discounts</h2>

        {% if discounts %}

            <table class="erp-table">

                <thead>
                <tr>
                    <th>{% sort_link "name" "Name" %}</th>
                    <th>{% sort_link "percent" "Percent" %}</th>
                </tr>
                </thead>

                <tbody>

                {% for discount in discounts %}
                    <tr>

                        <td>
                            <a href="{% url 'discount_detail' discount.id %}">
                                {{ discount.name }}
                            </a>
                        </td>

                        <td>{{ discount.percent }}%</td>

                    </tr>
                {% endfor %}

                </tbody>

            </table>

        {% else %}

            <p>No discounts found.</p>

        {% endif %}

    </div>

</div>
{% endblock %}