{% extends "inventory/base.html" %}

{% block content %}
<div class="page">

    <div class="subtitle">Master Data / Storage Locations</div>

    {% if mode == 'edit' %}
        <h1>Edit Storage Location</h1>
    {% else %}
        <h1>Add Storage Location</h1>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        {% url 'storage_list' as cancel_url %}
        {% include "components/forms/form_actions_top.html" with cancel_url=cancel_url object_name="Storage Location" %}

        <div class="erp-panel">
            <div class="erp-panel-title">01 — Storage Location</div>

            <div class="form-row three">

                <div class="field">
                    <label>Sector *</label>
                    {{ form.sector }}
                </div>

                <div class="field">
                    <label>Number *</label>
                    {{ form.number }}
                </div>

                <div class="field">
                    <label>Position *</label>
                    {{ form.position }}
                </div>

            </div>

        </div>

        <div class="erp-panel">

            <div class="erp-panel-title">02 — Description</div>

            <label>Description</label>
            {{ form.description }}

        </div>

        <div class="erp-panel">

            <div class="erp-panel-title">03 — Statistics</div>

            <div class="form-row">

                <div class="field">
                    <label>Products Stored</label>

                    {% if mode == 'edit' %}
                        <input type="text" value="Coming soon" disabled>
                    {% else %}
                        <input type="text" value="0" disabled>
                    {% endif %}

                </div>

            </div>

        </div>


        {% include "components/forms/audit_panel_simple.html" %}

        {% url 'storage_list' as cancel_url %}
        {% include "components/forms/form_actions_bottom.html" with cancel_url=cancel_url object_name="Storage Location" %}

    </form>

</div>
{% endblock %}