{% extends "inventory/base.html" %}

{% block content %}
<div class="page">

    {% include "components/layout/page_header.html" with subtitle="Master Data / Taxes" title=tax.name %}

    <div class="top-actions">

        <a href="{% url 'tax_list' %}">
            <button type="button">← Back</button>
        </a>

        {% if request.user.profile.role.name == "admin" or request.user.profile.role.name == "manager" %}
            <a href="{% url 'tax_edit' tax.id %}">
                <button type="button" class="btn-dark">
                    Edit Tax
                </button>
            </a>
        {% endif %}

    </div>

    <div class="erp-panel">

        <h2>Tax information</h2>

        <div class="erp-grid">

            <div class="erp-field">
                <span class="erp-label">Name</span>
                <span>{{ tax.name|default:"—" }}</span>
            </div>

            <div class="erp-field">
                <span class="erp-label">Percent</span>
                <span>{{ tax.percent }}%</span>
            </div>

        </div>

    </div>

    {% include "components/forms/audit_panel_full.html" with object=tax %}

</div>
{% endblock %}