{% extends "inventory/base.html" %}

{% block content %}
<div class="page">

    <div class="subtitle">Master Data / Textures</div>

    {% if mode == 'edit' %}
        <h1>Edit Texture</h1>
    {% else %}
        <h1>Add Texture</h1>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% url 'texture_list' as cancel_url %}
        {% include "components/forms/form_actions_top.html" with cancel_url=cancel_url object_name="Texture" %}

        <div class="erp-panel">

            <div class="erp-panel-title">
                01 — Texture
            </div>

            <label>Name *</label>
            {{ form.name }}

        </div>

        <div class="erp-panel">

            <div class="erp-panel-title">
                02 — Texture Photo
            </div>

            <label>Texture Photo</label>

            {{ form.image }}

            <div class="erp-help">
                You can select an image or take a photo using your smartphone camera.
            </div>

            <div class="texture-preview">

                {% if mode == 'edit' and texture.image %}

                    <img
                        src="{{ texture.image.url }}"
                        alt="{{ texture.name }}"
                        id="texturePreview"
                        class="preview-clickable"
                    >

                {% else %}

                    <div class="center-note">
                        No preview available.
                    </div>

                {% endif %}


            </div>
            

        </div>



        {% include "components/forms/audit_panel_simple.html" %}

        {% url 'texture_list' as cancel_url %}
        {% include "components/forms/form_actions_bottom.html" with cancel_url=cancel_url object_name="Texture" %}

    </form>

    {% if mode == 'edit' and texture.image %}

    <div id="imageModal" class="image-modal">

        <span class="image-close">&times;</span>

        <img
            id="modalImage"
            class="image-modal-content"
            src="{{ texture.image.url }}"
            alt="{{ texture.name }}"
        >

    </div>

    {% endif %}




</div>


{% include "components/image_modal.html" %}

{% endblock %}