{% extends "inventory/base.html" %}

{% block content %}
<div class="page">

    {% include "components/layout/page_header.html" with subtitle="Administration / Users" title="Users" %}

    <div class="toolbar">
        <a href="{% url 'user_add' %}">
            <button class="btn-dark" type="button">
                + Add User
            </button>
        </a>
    </div>

    <table>
        <thead>
        <tr>
            <th>Username</th>
            <th>Full Name</th>
            <th>Role</th>
            <th>Status</th>
            <th>Edit</th>
        </tr>
        </thead>

        <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.user.username }}</td>
            <td>{{ user.full_name }}</td>

            <td>
                {% if user.role %}
                    {{ user.role.name|title }}
                {% else %}
                    —
                {% endif %}
            </td>

            <td>
                {% if user.active %}
                    <span class="status available">Active</span>
                {% else %}
                    <span class="status archived">Inactive</span>
                {% endif %}
            </td>

            <td>
                <a href="{% url 'user_edit' user.id %}">Edit</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No users.</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}