{% extends "inventory/base.html" %}
{% load sort_tags %}

{% block content %}
<div class="page">

    {% include "components/layout/page_header.html" with subtitle="System / Users" title="Users" %}

    <form method="get" class="toolbar">

        <input
            class="search"
            type="text"
            name="q"
            placeholder="Search user..."
            value="{{ q }}">

        <select name="role">
            <option value="">All Roles</option>
            {% for role in roles %}
                <option value="{{ role.id }}"
                    {% if selected_role == role.id|stringformat:"s" %}
                        selected
                    {% endif %}>
                    {{ role.name }}
                </option>
            {% endfor %}
        </select>

        <select name="active">
            <option value="">All Users</option>
            <option value="yes" {% if active == 'yes' %}selected{% endif %}>
                Active
            </option>
            <option value="no" {% if active == 'no' %}selected{% endif %}>
                Inactive
            </option>
        </select>

        <button class="btn-green" type="submit">
            Filter
        </button>

        <a href="{% url 'user_add' %}">
            <button class="btn-dark" type="button">
                + Add User
            </button>
        </a>

    </form>

    <table>

        <thead>
        <tr>
            <th>{% sort_link 'username' 'Username' %}</th>
            <th>{% sort_link 'full_name' 'Full Name' %}</th>
            <th>{% sort_link 'role__name' 'Role' %}</th>
            <th>{% sort_link 'active' 'Status' %}</th>
            <th>{% sort_link 'last_login' 'Last Login' %}</th>
        </tr>
        </thead>

        <tbody>

        {% for user in users %}

        <tr>

            <td>
                <a href="{% url 'user_edit' user.id %}">
                    {{ user.username }}
                </a>
            </td>

            <td>{{ user.full_name }}</td>

            <td>
                {% if user.role %}
                    {{ user.role.name }}
                {% else %}
                    —
                {% endif %}
            </td>

            <td>
                {% if user.active %}
                    <span class="status available">Active</span>
                {% else %}
                    <span class="status archived">Inactive</span>
                {% endif %}
            </td>

            <td>
                {% if user.last_login %}
                    {{ user.last_login|date:"Y-m-d H:i" }}
                {% else %}
                    Never
                {% endif %}
            </td>

        </tr>

        {% empty %}

        <tr>
            <td colspan="5">
                No users.
            </td>
        </tr>

        {% endfor %}

        </tbody>

    </table>

</div>
{% endblock %}