{% extends "inventory/base.html" %}

{% block content %}
<div class="page">

    {% include "components/layout/page_header.html" with subtitle="System / Login" title="Login" %}

    <form method="post">
        {% csrf_token %}

        <div class="erp-panel">
            <div class="erp-panel-title">Login</div>

            {% if error %}
                <div class="center-note">{{ error }}</div>
            {% endif %}

            <label>Username</label>
            <input type="text" name="username" required>

            <label>Password</label>
            <input type="password" name="password" required>
        </div>

        <div class="bottom-actions">
            <button class="btn-dark" type="submit">Login</button>
        </div>

    </form>

</div>
{% endblock %}
